---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfMembers from '../components/ListOfMembers.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" m-auto max-w-4xl">
		<Title/>
		<ListOfMembers/>
	</main>
</Layout>

<style>
</style>
