---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro';
---

<Layout title="Welcome to Astro.">
	<Title/>
	<ul class="grid grid-cols-2 md:grid-cols-4 gap-3">
		<li>
			<a href="/Eva"></a>
			<img src="" alt="portada-eva">
		</li>
	</ul>
</Layout>

<style>
</style>
