---
import MembersItem from "./MembersItem.astro";
import {members} from '../data/members'
---

<ul class="grid grid-cols-2 md:grid-cols-4 gap-3 mt-10">
    {
        members.map(({name, profesion, img}) => {
            return(
                <li>
                    <MembersItem name={name} profesion={profesion} img={img} />
                </li>
            )
        })
    }
</ul>