---
import MembersItem from "./MembersItem.astro";
    const members = [
        {
            name:'eva',
            profesion:'Ama de casa',
            img:'https://st4.depositphotos.com/8230070/39417/v/600/depositphotos_394177114-stock-illustration-happy-grandparents-day-kind-granny.jpg',
        }
    ]
---

<ul class="grid grid-cols-2 md:grid-cols-4 gap-3">
    {
        members.map(({name, profesion, img}) => {
            return(
                <li>
                    <MembersItem name={name} profesion={profesion} img={img} />
                </li>
            )
        })
    }
</ul>