---
    const members = [
        {
            name:'eva',
            profesion:'Ama de casa',
            img:''
        }
    ]
---

<ul class="grid grid-cols-2 md:grid-cols-4 gap-3">
    <li>

    </li>
</ul>