---
    export interface Props{
        name: string,
        profesion:string,
        img: string,
    }
    
    const {
        name,
        profesion,
        img
    } = Astro.props
---
<a class=" hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl" href={`/${name}`}>
    <img 
    src={img} 
    alt={`${name}`}
    class=" aspect-[150/200] h-full object-cover w-full max-w-full rounded">
</a>