---
    export interface Props{
        name: string,
        profesion:string,
        description:string,
        img: string
    }
    
    const {
        name,
        profesion,
        description,
        img
    } = Astro.props
---
<a class=" hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl" href="/Eva">
    <img 
    src="https://i.pinimg.com/1200x/ac/e6/cf/ace6cfc54424429f3ed4783e99b708e3.jpg" 
    alt="portada-eva"
    class=" aspect-[389/500] h-full object-cover w-full max-w-full rounded">
</a>